<ion-header>
  <ion-toolbar>
    <ion-title>pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pkmn-list-bg"></div>
  <div class="flex">
    <ion-item class="pkmn-btn" *ngFor="let pkmnList of pokemonList">
      <ion-img [src]="pkmnList.image"></ion-img>
        {{pkmnList.name}}<br>
        {{pkmnList.idNational}}
    </ion-item>
  </div>
</ion-content>
