.flex {
  display: flex;
  flex-wrap: wrap;
}

.pkmn-list-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/image/pokedex-liste.png');
  background-size: cover;
}

.pkmn-btn {/*
  display: flex;
  flex-direction: column;*/
  width: 27%;
  min-height: 30%;
  margin: 10px;
}
