.homepage-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background:url('../../assets/image/pokedex-home.jpg');
  background-size: cover;
}
.btn-home-page {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  top: 0;
  border: 0;
  background: transparent;
  color: white;
  font-family: Merriweather;
  font-size: 50px;
}
